body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: #fff;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
select {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
select:focus {
  border-color: #000;
}

.swap {
  margin-left: 0.5em;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
}

.swap:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
