<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dropdown</title>
    <link rel="stylesheet" href="../staticFiles/main.css">
  </head>
  <body>
    <form method="POST" action="/">
      <p>Select language (FROM)</p>
      <select name="language1">
        {% for language in languages %}
        <option value="{{ language }}" selected>{{ language }}</option>
        {% endfor %}
      </select>

      <p>Select language (TO)</p>
      <select name="language2">
        {% for language in languages %}
        <option value="{{ language }}" selected>{{ language }}</option>
        {% endfor %}
      </select>

      <p>Input Text</p>
      <input type="text" name="input_text" value="" />

      <input type="submit" value="Submit" />
      
      <p>->{{output_text}}</p>

    </form>
  </body>   
</html>
