<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dropdown</title>
    <link rel="stylesheet" href="../staticFiles/main.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Translate Man</h1>
    <form>
      <p>Select language (FROM)</p>
      <select id="language1">
        {% for language in languages %}
        <option value="{{ language }}">{{ language }}</option>
        {% endfor %}
      </select>
      <button class="swap" id="swapDropdownsBtn" type="button">
        Swap Dropdowns
      </button>

      <p>Select language (TO)</p>
      <select id="language2">
        {% for language in languages %}
        <option value="{{ language }}">{{ language }}</option>
        {% endfor %}
      </select>
      <button class="swap" id="historyBtn" type="button">History</button>

      <p id="input">Input Text</p>
      <input type="text" id="inputText" />

      <button class="swap" id="submitBtn" type="button">Submit</button>
      <button class="swap" id="clearBtn" type="button">Clear</button>

      <p>Output Text</p>
      <input type="text" id="outputText" />
      <button class="swap" id="swapInputBtn" type="button">
        Swap Input Text
      </button>
    </form>
    <script src="../staticFiles/main.js"></script>
  </body>
</html>
